<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My First webage</title>
    <style>
      em {
        color: red;
        font-style: normal;
      }
    </style>
  </head>
  <body>
    <p>Hi</p>
    <a href="https://www.google.com">Google</a>
    <a href="{% url 'act-agg' %}">Actual Aggregation</a>
    <a href="{% url 'preload-agg' %}">Preload Aggregation</a>
  </body>
</html>
